  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    background-color: #959B7F ;
    color: white;
    font-family: Lato, sans-serif;
    margin-top: 40px;
  }

  h1 {
    color: #FFCC66;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px 0;
    text-align: center;
  }

  .aplicacion-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /*lista de tareas*/

  .tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color:#9DB6CB ;
    border-radius: 20px;
    padding: 25px;
    margin: 10px;
  }
